.wrapper
  .reg
    .reg__gift1
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/gift1-512.png")
        source(media="(max-width: 1024px)" srcset="img/gift1-512.png")
        source(media="(max-width: 1280px)" srcset="img/gift1-640.png")
        source(media="(max-width: 1440px)" srcset="img/gift1-720.png")
        source(media="(min-width: 1441px)" srcset="img/gift1-960.png")
        img(src="img/gift1-640.png" alt="gift 1")
    .reg__gift2
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/gift2-512.png")
        source(media="(max-width: 1024px)" srcset="img/gift2-512.png")
        source(media="(max-width: 1280px)" srcset="img/gift2-640.png")
        source(media="(max-width: 1440px)" srcset="img/gift2-720.png")
        source(media="(min-width: 1441px)" srcset="img/gift2-960.png")
        img(src="img/gift2-640.png" alt="gift 2")
    .reg__header 
      .reg__logo 
        img(src="./img/logo.svg" alt="favbet logo")
      .reg__fc 80 FC
      .reg__text за верификацію
    .reg__sam
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam-512.png")
        source(media="(max-width: 1024px)" srcset="img/sam-512.png")
        source(media="(max-width: 1280px)" srcset="img/sam-640.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="sam")
    .reg__gift3
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/gift3-512.png")
        source(media="(max-width: 1024px)" srcset="img/gift3-512.png")
        source(media="(max-width: 1280px)" srcset="img/gift3-640.png")
        source(media="(max-width: 1440px)" srcset="img/gift3-720.png")
        source(media="(min-width: 1441px)" srcset="img/gift3-960.png")
        img(src="img/gift3-640.png" alt="gift 3")
    .reg__footer Бонус доступний у вигляді FC (або FAVCOIN), що є внутрішньо-ігровою бонусною валютою,
      | яка доступна Гравцеві виключно в підрозділі «Прокачай гру» розділу «Акції». 
      | Період дії місії «Місія "Верифікація"» з 16.06.2025 по 31.07.2025. Деталі на favbet.ua